<!-- chat.html -->

{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <div class="dashboard-container">

    <aside class="sidebar">
        <div class="logo-container">
            <img src="{% static 'Icons/logo.png' %}" alt="WellStat" class="sidebar-logo">
        </div>
        <nav class="sidebar-nav">
            <a href="{% url 'dashboard_overview' %}" class="nav-item active">
                <img src="{% static 'icons/home.png' %}" alt="" class="nav-icon">
                Overview
            </a>
            <a href="{% url 'ai_bot' %}" class="nav-item">
                <img src="{% static 'icons/robot.png' %}" alt="" class="nav-icon">
                AI Chatbot
            </a>
            <a href="{% url 'risk_assessment' %}" class="nav-item">
                <img src="{% static 'icons/risk.png' %}" alt="" class="nav-icon">
                Risk Assessment
            </a>
            <a href="{% url 'registration' %}" class="nav-item">
                <img src="{% static 'icons/reg.png' %}" alt="" class="nav-icon">
                Registration
            </a>
            <a href="{% url 'settings' %}" class="nav-item">
                <img src="{% static 'icons/settings.png' %}" alt="" class="nav-icon">
                Settings
            </a>
            <a href="{% url 'logout' %}" class="nav-item">
                <img src="{% static 'icons/logout.png' %}" alt="" class="nav-icon">
                Log Out
            </a>
        </nav>
    </aside>
    <div id="chat-container">
        <div id="chat-box"></div>
        <div class="chat-input-container">
            <input type="text" id="chat-input" placeholder="Ask a medical question...">
            <button id="send-message">Send</button>
        </div>
    </div>
    </div>

<script>
document.getElementById('send-message').onclick = function() {
    const inputElement = document.getElementById('chat-input');
    const message = inputElement.value;
    inputElement.value = '';  // Clear the input

    if(message) {
        fetch('{% url "chatbot_response" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'prompt=' + encodeURIComponent(message)
        })
        .then(response => response.json())
        .then(data => {
            const chatBox = document.getElementById('chat-box');
            const userDiv = document.createElement('div');
            userDiv.textContent = 'You: ' + message;
            chatBox.appendChild(userDiv);

            const aiDiv = document.createElement('div');
            aiDiv.textContent = 'WellGPT: ' + data.response;
            chatBox.appendChild(aiDiv);
        })
        .catch(error => console.error('Error:', error));
    }
};
</script>
{% endblock %}
